/* Fonte personalizada */
@font-face {
  font-family: 'Neo';
  src: url('assets/Fonts/neo/Neo.woff2') format('woff2'),
       url('assets/Fonts/neo/Neo.woff') format('woff'),
       url('assets/Fonts/neo/Neo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Corpo da página */
body {
  margin: 0;
  font-family: 'Neo', Arial, sans-serif;
  background: #1c1c1c;
  color: #fff;
  background-image: url("assets/imagens/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

/* Cabeçalho */
header {
  background: #6e1303;
  padding: 5px;
  background-image: url("assets/imagens/background2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: #ffd700;
}

/* Menu de navegação */
  nav {
      background: rgba(0, 0, 0, 0.25); /* leve transparência para ver o relevo atrás */
      display: flex;
      justify-content: center;
      padding: 25px;
    }
    nav a {
  color: #d69e11;
  margin: 0 10px;           /* Espaçamento ligeiramente reduzido para não quebrar em ecrãs pequenos */
  text-decoration: none;
  font-weight: 600;         /* Definido como semi-bold para melhor legibilidade */
  font-family: 'Neo', sans-serif;
  font-size: 25px; /* aumenta o tamanho padrão */
  transition: opacity 0.3s; /* Suaviza a interação */
  display: inline-block;    /* Melhora a área de toque */
  border-bottom: 2px solid transparent; /* Linha invisível por padrão */
  padding-bottom: 4px;
}

/* Efeito ao passar o rato ou tocar */
nav a:hover {
  opacity: 0.70;
   color: #ffb81c; /* Muda para um tom de dourado mais claro, por exemplo */
  padding-bottom: 2px;         /* ESTE é o espaço que afasta a linha da palavra */
    text-decoration: none;
   border-bottom: 2px solid #d69e11; /* A linha "aparece" sem mover nada */
}

/* Botão sair destacado à direita */
.btn-sair {
  color: #fff;
  font-size: 25px; /* aumenta o tamanho padrão */
  background: #b22222;
  padding: 8px 8px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.btn-sair:hover {
  background: #ff0000;
  color: #000;
}

/* Tabelas resumo */
.tabela-resumo {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background: #f9f9f9;
}

.tabela-resumo h2 {
  margin-top: 0;
}

.tabela-resumo a {
  display: inline-block;
  margin-top: 10px;
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

.tabela-resumo a:hover {
  text-decoration: underline;
}
/* Ajuste para telemóveis e ecrãs pequenos */
@media (max-width: 480px) {
  .menu-links a {
    font-size: 18px;     /* Diminui o texto para caber em linha */
    margin: 0 8px;       /* Reduz um pouco o espaço entre os links */
    padding-bottom: 2px; /* Aproxima um pouco a linha para não ocupar muito espaço vertical */
  }
}


